In [1]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, Column
from sqlalchemy.orm import mapper
from sqlalchemy import Table, Column, Integer, Unicode, MetaData, create_engine
from sqlalchemy.orm import mapper, create_session

In [2]:
password = 'hnw123'
DBName = 'QR_TST'

In [3]:
DATABASE = f'mariadb+pymysql://ETL_db:{password}@192.168.50.195:3306/{DBName}'
engine = create_engine(DATABASE, echo=True)

In [4]:
metadata = MetaData(bind=engine)

In [5]:
Table_List = []
for i in range(5):
    wordColumns = ['english', 'korean', 'romanian']
    t = Table(f'words{i}', metadata, Column('id', Integer, primary_key=True),
        *(Column(wordCol, Unicode(255)) for wordCol in wordColumns),extend_existing=True)
    Table_List.append(t)

In [7]:
metadata.create_all()

2023-05-16 15:13:39,937 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-05-16 15:13:39,938 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-16 15:13:39,943 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-05-16 15:13:39,943 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-16 15:13:39,946 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-05-16 15:13:39,946 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-16 15:13:39,951 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-16 15:13:39,951 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-05-16 15:13:39,952 INFO sqlalchemy.engine.Engine [generated in 0.00037s] {'table_schema': 'qr_tst', 'table_name': 'words0'}
2023-05-16 15:13:39,956 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-05-16 15:13:39,956 INFO sqlalchemy.engine.Engine [cached since 0.004969s ago] {'table_schema': 'qr_tst', 'table_name': 'words1'}
2023-05-16 15:13:39,960 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-05-16 15:13:39,960 INFO sqlalchemy.engine.Engine [cached since 0.009135s ago] {'table_schema': 'qr_tst', 'table_name': 'words2'}
2023-05-16 15:13:39,962 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-05-16 15:13:39,963 INFO sqlalchemy.engine.Engine [cached since 0.01171s ago] {'table_schema': 'qr_tst', 'table_name': 'words3'}
2023-05-16 15:13:39,965 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-05-16 15:13:39,966 INFO sqlalchemy.engine.Engine [cached since 0.01481s ago] {'table_schema': 'qr_tst', 'table_name': 'words4'}
2023-05-16 15:13:39,968 INFO sqlalchemy.engine.Engine
CREATE TABLE words0 (
	id INTEGER NOT NULL AUTO_INCREMENT,
	english VARCHAR(255),
	korean VARCHAR(255),
	romanian VARCHAR(255),
	PRIMARY KEY (id)
)


2023-05-16 15:13:39,969 INFO sqlalchemy.engine.Engine [no key 0.00031s] {}
2023-05-16 15:13:39,993 INFO sqlalchemy.engine.Engine
CREATE TABLE words1 (
	id INTEGER NOT NULL AUTO_INCREMENT,
	english VARCHAR(255),
	korean VARCHAR(255),
	romanian VARCHAR(255),
	PRIMARY KEY (id)
)


2023-05-16 15:13:39,994 INFO sqlalchemy.engine.Engine [no key 0.00049s] {}
2023-05-16 15:13:40,001 INFO sqlalchemy.engine.Engine
CREATE TABLE words2 (
	id INTEGER NOT NULL AUTO_INCREMENT,
	english VARCHAR(255),
	korean VARCHAR(255),
	romanian VARCHAR(255),
	PRIMARY KEY (id)
)


2023-05-16 15:13:40,001 INFO sqlalchemy.engine.Engine [no key 0.00045s] {}
2023-05-16 15:13:40,011 INFO sqlalchemy.engine.Engine
CREATE TABLE words3 (
	id INTEGER NOT NULL AUTO_INCREMENT,
	english VARCHAR(255),
	korean VARCHAR(255),
	romanian VARCHAR(255),
	PRIMARY KEY (id)
)


2023-05-16 15:13:40,011 INFO sqlalchemy.engine.Engine [no key 0.00063s] {}
2023-05-16 15:13:40,019 INFO sqlalchemy.engine.Engine
CREATE TABLE words4 (
	id INTEGER NOT NULL AUTO_INCREMENT,
	english VARCHAR(255),
	korean VARCHAR(255),
	romanian VARCHAR(255),
	PRIMARY KEY (id)
)


2023-05-16 15:13:40,019 INFO sqlalchemy.engine.Engine [no key 0.00032s] {}
2023-05-16 15:13:40,027 INFO sqlalchemy.engine.Engine COMMIT