# IMPORT

In [1]:
import json

In [2]:
import pandas as pd

In [3]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, Column
from sqlalchemy.orm import mapper

# MariaDB 연결

In [4]:
password = 'hnw123'
DBName = 'QR_TST'

In [5]:
DATABASE = f'mariadb+pymysql://ETL_db:{password}@192.168.50.195:3306/{DBName}'
engine = create_engine(DATABASE, echo=True)

In [13]:
global TypeDict
TypeDict={
    'RAW':sqlalchemy.types.INT,
    'BLOB':sqlalchemy.types.BLOB,
    'CHAR':sqlalchemy.types.CHAR,
    'DATE':'DATETIME',
    'FLOAT':'DOUBLE',
    'VARCHAR':'VARCHAR',
    'VARCHAR2':'VARCHAR',
    'CLOB':'VARCHAR',
    'NUMBER':'INTEGER'
}

In [14]:
ENGINETYPE = 'INNODB'
CHARSET = 'UTF8'

# READ JSON

In [15]:
with open("Result_File.json", "r", encoding='utf-8') as Json_Result:
    JSON_Obj = json.load(Json_Result)

In [16]:
# 테이블 리스트 가져오기
MyTables = JSON_Obj['TableData']['TableInfo']['ETL_ADMIN']
TableList = list(MyTables)

In [17]:
metadata = MetaData(bind=engine)

In [26]:
Table_List = []
for TableName in TableList:
    ColumnData = MyTables[TableName]['Columns']
    Columns = list(ColumnData)
    ColDTypes = []
    for ColumnNames in Columns:
        DType = TypeDict[ColumnData[ColumnNames][0]]
        if DType in ['NUMBER']:
            ColDTypes.append(sqlalchemy.types.INTEGER)
        elif DType in ['VARCHAR','VARCHAR2']:
            ColDTypes.append(sqlalchemy.types.VARCHAR(int(ColumnData[ColumnNames][1][0])))
        elif DType in ['FLOAT']:
            ColDTypes.append(sqlalchemy.types.FLOAT(int(ColumnData[ColumnNames][1][1])))
        elif DType in ['DATE','DATETIME']:
            ColDTypes.append(sqlalchemy.types.DATETIME)
        elif DType in ['RAW']:
            ColDTypes.append(sqlalchemy.types.BLOB)
        
        ColDTypes.append(DType)
        
    TInfo = Table(f'{TableName}', metadata,
                 *(Column(ColName)))
    #print(ColDTypes)

[VARCHAR(length=100), 'VARCHAR', VARCHAR(length=50), 'VARCHAR', <class 'sqlalchemy.sql.sqltypes.DATETIME'>, 'DATETIME']
[VARCHAR(length=20), 'VARCHAR', 'INTEGER']
[VARCHAR(length=20), 'VARCHAR', VARCHAR(length=50), 'VARCHAR']
[VARCHAR(length=20), 'VARCHAR', <class 'sqlalchemy.sql.sqltypes.DATETIME'>, 'DATETIME']
[VARCHAR(length=100), 'VARCHAR', VARCHAR(length=100), 'VARCHAR', VARCHAR(length=100), 'VARCHAR', 'DOUBLE', 'INTEGER']
[VARCHAR(length=100), 'VARCHAR', VARCHAR(length=100), 'VARCHAR', VARCHAR(length=100), 'VARCHAR']

In [ ]:
    
    
    
    
    t = Table(f'words{i}', metadata, Column('id', Integer, primary_key=True),
        *(Column(wordCol, Unicode(255)) for wordCol in wordColumns),extend_existing=True)
    Table_List.append(t)

In [ ]:
import pymysql

In [ ]:
MARIA_DB_HOSTNAME = '192.168.50.195'
MARIA_DB_USERNAME = 'ETL_db'
MARIA_DB_PASSWORD = 'hnw123'
DATABASE_NAME = 'testtableuniverse'

In [ ]:
conn = pymysql.connect(host=MARIA_DB_HOSTNAME,user=MARIA_DB_USERNAME,password=MARIA_DB_PASSWORD)
cur = conn.cursor()

In [ ]:
for SQLs in CreateSQLs:
    try:
        #print(f"checkpoint {item[2]}-3")
        cur.execute(f'use {DATABASE_NAME};')
    # 해당 테이블스페이스명의 스키마가 없으면 생성해준다.
    except:
        cur.execute(f'create database {DATABASE_NAME};')
    finally:
        cur.execute(f'use {DATABASE_NAME};')
    cur.execute(SQLs)

In [ ]:
MetaTableData['USER_LOG']['Columns']['USER_ID'][0]

In [ ]:
MyTableData = JSON_Obj['RealData']['ETL_ADMIN']
MyTableList = list(MyTableData)
MyTableList

In [ ]:
df = pd.DataFrame.from_dict(MyTableData['USER_LOG'])
df

In [ ]:
df_cols = df.columns.tolist()
df_cols

In [ ]:
TBL_Dtypes = {}
Tbl_Cols = df.columns.tolist()
for ColName in Tbl_Cols:
    TBL_Dtypes[ColName] = TypeDict[MetaTableData['USER_LOG']['Columns'][ColName][0]]
print(TBL_Dtypes)

In [ ]:
for item in TableDatas:
    conn = engine.connect()
    engine.execute(f"use {item[0]}")
    item[3].to_sql(name=f'{item[1]}_{item[2]}', con=engine, if_exists='append', index=False)